<% layout('layout/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">Edit Course</h1>
  <div class="col-6 offset-3">
    <form action="/admin/courses/<%=course._id%>?_method=PUT " method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="course[title]"
          value="<%= course.title %> "
        />
      </div>
      <br />
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="course[description]"
        >
<%= course.description%> </textarea
        >
      </div>
      <br />
      <div>
        <label for="creatorName">creatorName</label>
        <input
          type="text"
          id="creatorName"
          name="course[creatorName]"
          value="<%= course.creatorName %> "
        />
      </div>
      <br />
      <div>
        <label for="creatorId">CreatorId</label>
        <input
          type="text"
          id="creatorId"
          name="course[creatorId]"
          value="<%= course.creatorId %> "
        />
      </div>
      <br />
      <div>
        <label for="coursePrice">coursePrice</label>
        <input
          type="text"
          id="coursePrice"
          name="course[coursePrice]"
          value="<%= course.coursePrice %> "
        />
      </div>

      <br />

      <div>
        <label for="avgRating">avgRating</label>
        <input
          type="text"
          id="avgRating"
          name="course[avgRating]"
          value="<%= course.avgRating %> "
        />
      </div>
      <br />
      <div>
        <label for="totalReview">totalReview</label>
        <input
          type="text"
          id="totalReview"
          name="course[totalReview]"
          value="<%= course.totalReview %> "
        />
      </div>
      <br />
      <div>
        <label for="totalPurchases">totalPurchases</label>
        <input
          type="text"
          id="totalPurchases"
          name="course[totalPurchases]"
          value="<%= course.totalPurchases %> "
        />
      </div>
      <br />
      <div>
        <label for="totalLikes">totalLikes</label>
        <input
          type="text"
          id="totalLikes"
          name="course[totalLikes]"
          value="<%= course.totalLikes %> "
        />
      </div>
      <br />

      <div>
        <label for="quote">Quote</label>
        <input
          type="quote"
          id="quote"
          name="course[quote]"
          value="<%= course.quote %> "
        />
      </div>
      <br />

      <div>
        <label for="isPaid">isPaid</label>
        <input
          type="text"
          id="isPaid"
          name="course[isPaid]"
          value="<%= course.isPaid %>"
        />
      </div>
      <br />

      <div>
        <label for="totalArticles">totalArticles</label>
        <input
          type="text"
          id="totalArticles"
          name="course[totalArticles]"
          value="<%= course.totalArticles %>"
        />
      </div>
      <br />

      <div>
        <label for="totalVideoLessons"> totalVideoLessons</label>
        <input
          type="text"
          id="totalVideoLessons"
          name="course[totalVideoLessons]"
          value="<%= course.totalVideoLessons %>"
        />
      </div>
      <br />

      <div>
        <label for="totalResourses"> totalResourses</label>
        <input
          type="text"
          id="totalResourses"
          name="course[totalResources]"
          value="<%= course.totalResources%>"
        />
      </div>
      <br />

      <div>
        <label for=" totalTests"> totalTests</label>
        <input
          type="text"
          id=" totalTests"
          name="course[ totalTests]"
          value="<%= course.totalTests%>"
        />
      </div>
      <br />

      <div class="mb-3">
        <button class="btn btn-info">Update Course</button>
      </div>
      <br />
      <br />
      <footer>
        <a href="/admin/courses/<%=course._id%> ">Back to Courses</a>
      </footer>

      <footer>
        <a href="/admin/courses/<%=course._id%>/units/newUnit"> Add Unit</a>
      </footer>
    </form>
  </div>
</div>
